In [1]:
import numpy as np
import pandas as pd

In [2]:
1.#Create a numpy array from 1 to 10 and reshape it to a 2x5 matrix
array1 = np.arange(1, 11)
reshaped_array = array1.reshape(2, 5)
print("Question 1:")
print(reshaped_array)

Question 1:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [3]:
2.#Create a numpy array from 1 to 20 and extract elements between 5th and 15th index
array2 = np.arange(1, 21)
extracted_elements = array2[5:16]  
print("Question 2:")
print(extracted_elements)

Question 2:
[ 6  7  8  9 10 11 12 13 14 15 16]

In [4]:
3.#Create a Pandas series and add a new item
fruitseries = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruitseries['pears'] = 4
print("Question 3:")
print(fruitseries)

Question 3:
apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [5]:
4.#Create a dataframe with 10 rows of data
names = ["Angel", "Ashirvath", "Chemban", "Evan", "Chandrika", "Daisy", "Franko", "Grace", "Hari", "Iza"]
ages = [25, 30, 35, 40, 28, 22, 31, 27, 33, 29]
genders = ["Female", "Male", "Male", "Male", "Female", "Female", "Male", "Female", "Male", "Female"]
data = {
    "name": names,
    "age": ages,
    "gender": genders
}
df = pd.DataFrame(data)
print("Question 4:")
print(df)

Question 4:
        name  age  gender
0      Angel   25  Female
1  Ashirvath   30    Male
2    Chemban   35    Male
3       Evan   40    Male
4  Chandrika   28  Female
5      Daisy   22  Female
6     Franko   31    Male
7      Grace   27  Female
8       Hari   33    Male
9        Iza   29  Female

In [6]:
5.# Add a new column 'occupation' to the dataframe
occupations = ["Programmer", "Manager", "Analyst", "HR", "G.Manager", "Team Lead", "Senior Analyst", "Branch Manager", "Tester", "Senior Programmer"]
df["occupation"] = occupations
print("Question 5:")
print(df)

Question 5:
        name  age  gender         occupation
0      Angel   25  Female         Programmer
1  Ashirvath   30    Male            Manager
2    Chemban   35    Male            Analyst
3       Evan   40    Male                 HR
4  Chandrika   28  Female          G.Manager
5      Daisy   22  Female          Team Lead
6     Franko   31    Male     Senior Analyst
7      Grace   27  Female     Branch Manager
8       Hari   33    Male             Tester
9        Iza   29  Female  Senior Programmer

In [7]:
6.#Select rows where age is greater than or equal to 30
filtered_df = df[df["age"] >= 30]
print("Question 6:")
print(filtered_df)

Question 6:
        name  age gender      occupation
1  Ashirvath   30   Male         Manager
2    Chemban   35   Male         Analyst
3       Evan   40   Male              HR
6     Franko   31   Male  Senior Analyst
8       Hari   33   Male          Tester

In [8]:
7.#Convert the dataframe to a CSV file and read it back
csv_filename = "dataframe.csv"
df.to_csv(csv_filename, index=False)

In [9]:
read_df = pd.read_csv(csv_filename)
print("Question 7:")
print(read_df)

Question 7:
        name  age  gender         occupation
0      Angel   25  Female         Programmer
1  Ashirvath   30    Male            Manager
2    Chemban   35    Male            Analyst
3       Evan   40    Male                 HR
4  Chandrika   28  Female          G.Manager
5      Daisy   22  Female          Team Lead
6     Franko   31    Male     Senior Analyst
7      Grace   27  Female     Branch Manager
8       Hari   33    Male             Tester
9        Iza   29  Female  Senior Programmer